
@mixin flex($align, $justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}



// <input
//                   name="email"
//                   type="email"
//                   placeholder="Email Address"
//                   className="email-inpt"
//                   value={formData.email}
//                   onChange={handleChange}
//                   required
//                 />